@import "./../../../../styles.scss";

.banner {
  padding: 80px 0px;
  background-color: #000;

  .container {
    width: 95%;
    max-width: 1680px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h4,
  h6 {
    color: $on-primary;
  }

  h4 {
    margin-bottom: 10px;
    font-weight: 900;
  }

  span {
    color: $error;
  }

  h6 {
    font-weight: 100;
  }
}
