<!-- banner sale -->
<app-banner-sale></app-banner-sale>

<!-- dialog success -->
<app-dialog [isDialog]="isDialog" [dialogPurpose]="'message'"></app-dialog>

<!-- single product -->
<section class="single-product">
  <div class="container">
    <!-- one -->
    <div class="one">
      <img src="{{ product?.images[indexImg] }}" alt="nike{{ indexImg }}" />
      <div class="images">
        <img
          *ngFor="let img of product?.images; let i = index"
          src="{{ img }}"
          alt="nike"
          (click)="onShowImage(i)"
        />
      </div>
    </div>

    <!-- two -->
    <form class="two" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h5>{{ product?.marke }}</h5>
      <h4>{{ product?.title }}</h4>
      <h3>{{ product?.price }}€</h3>
      <div class="options">
        <select placeholder="Choose size" formControlName="size">
          <option value="39">39</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
        </select>
        <input
          type="number"
          min="1"
          max="10"
          formControlName="quantity"
          class="error"
          value="0"
        />
      </div>
      <app-button-primary>Add To Cart</app-button-primary>
    </form>
  </div>
</section>
