.footer {
  padding: 80px 0px;
  background: #f7f6f5;

  .container {
    display: grid;
    width: 95%;
    max-width: 1680px;
    gap: 50px;
    margin: auto;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(179px, 1fr));

    &__col {
      ul li {
        list-style-type: none;

        a {
          text-decoration: none;
          display: block;
          margin-bottom: 5px;
          color: #7e7e7e;
        }
      }

      h5 {
        margin-bottom: 18px;
        font-weight: 900;
      }

      p {
        margin-bottom: 8px;
        color: #7e7e7e;
      }

      .logo {
        max-width: 80px;
        height: auto;
        margin-top: 25px;
      }

      .app-con {
        max-width: 100px;
        display: flex;

        img {
          width: 100%;
          height: auto;
          margin-left: -5px;
          margin-bottom: 10px;
        }
      }

      .social-media-con {
        display: flex;
        margin-top: 10px;

        img {
          cursor: pointer;
          margin-right: 10px;
          width: 25px;
          filter: grayscale(100%);
          transition: 0.3s;

          &:hover {
            transition: 0.3s;
            filter: grayscale(0%);
          }
        }
      }

      .payments {
        width: 200px;
      }
    }
  }
}

.copyright {
  text-align: center;
  color: #7e7e7e;
  background: #f7f6f5;
  padding: 10px 0;
}

@media (max-width: 420px) {
  .container {
    grid-template-columns: unset !important;
    justify-content: center !important;
    gap: 25px !important;
  }
}
