<div class="footer section-padding">
  <!-- column 1 -->
  <div class="footer__col">
    <h5>Contact</h5>
    <p><strong>Address:</strong> Wellington Road 54</p>
    <p><strong>Phone:</strong>+01 2222 355 / (+43) 2345 324</p>
    <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
    <div class="social-media-con">
      <img
        src="./../../../assets/images/icons/facebook-round-color.svg"
        alt="fb"
      />
      <img src="./../../../assets/images/icons/ig-instagram.svg" alt="in" />
      <img
        src="./../../../assets/images/icons/pinterest-round-color.svg"
        alt="pi"
      />
      <img src="./../../../assets/images/icons/twitter-app.svg" alt="tw" />
      <img src="./../../../assets/images/icons/youtube-color.svg" alt="yt" />
    </div>
    <img
      class="logo"
      src="./../../../assets/images/header/logo.svg"
      alt="logo"
    />
  </div>

  <!-- column 2 -->
  <div class="footer__col">
    <h5>About</h5>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Delivery Information</a></li>
      <li><a href="#">Privacy Police</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>

  <!-- column 3 -->
  <div class="footer__col">
    <h5>My Account</h5>
    <ul>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">View Cart</a></li>
      <li><a href="#">My Wishlist</a></li>
      <li><a href="#">Track My Order</a></li>
    </ul>
  </div>

  <!-- column 4 -->
  <div class="footer__col">
    <h5>Instal App</h5>
    <ul>
      <li><a href="#">From App Store or Google Play</a></li>
      <div class="app-con">
        <img src="../../../assets/images/footer/apple2.png" alt="apple-app" />
        <img src="../../../assets/images/footer/google2.png" alt="google-app" />
      </div>
      <li><a href="#">Secured Payment Gateways</a></li>
      <img
        class="payments"
        src="./../../../assets/images/footer/banner10.png"
        alt="payments"
      />
    </ul>
  </div>

  <!-- copyright -->
  <div class="copyright">
    <p>© 2022 dejan subotic</p>
  </div>
</div>
