<section class="products">
  <!-- one -->
  <div class="one">
    <h2>{{ chapter }}</h2>
    <h6>{{ subchapter }}</h6>

    <select
      name="price"
      id="price"
      class="filter"
      #value
      (change)="selectedValue(value.value)"
    >
      <option value="0 200 price">All</option>
      <option value="91 120 price">91-120 €</option>
      <option value="0 90 price">0-90 €</option>
      <option value="4 6 stars">5 stars</option>
    </select>
  </div>

  <!-- two -->
  <div class="two">
    <div
      class="box"
      *ngFor="let product of products | products: limit"
      [routerLink]="['/single-product', product.eventId]"
    >
      <img src="{{ product.images[2] }}" alt="shoe" />
      <span>{{ product.marke }}</span>
      <h5>{{ product.title }}</h5>
      <div class="stars">
        <img
          src="./../../../../assets/images/icons/star-symbol.svg"
          alt="star"
          *ngFor="let star of counter(product.stars)"
        />
      </div>
      <div class="buy">
        <span>{{ product.price }}€</span>
        <div class="cart">
          <img
            src="./../../../../assets/images/icons/cart-plus.svg"
            alt="cart"
          />
        </div>
      </div>
    </div>
  </div>
</section>
