@import "./../../../styles.scss";

.contact {
  padding: 80px 0px;

  // first
  .first {
    display: grid;
    width: 95%;
    max-width: 1680px;
    margin: auto;
    gap: 50px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-bottom: 100px;

    // one
    .one {
      h6 {
        margin-bottom: 10px;
      }

      h4 {
        margin-bottom: 20px;
        font-weight: 900;
      }

      .row {
        display: flex;
        align-items: center;
        padding: 10px;

        img {
          margin-right: 20px;
        }

        p {
          color: $text-light;
          font-size: 18px;
        }
      }
    }
    // two
    .two {
      iframe {
        width: 100%;
      }
    }
  }

  // second
  .second {
    display: grid;
    width: 95%;
    max-width: 1680px;
    margin: auto;
    gap: 50px;
    align-items: center;
    border: 1px solid #e4e2ec;
    border-radius: 5px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

    // three
    .three {
      display: flex;
      flex-direction: column;
      width: 100%;

      h6 {
        margin-bottom: 20px;
      }

      h4 {
        margin-bottom: 30px;
        font-weight: 900;
      }

      input,
      textarea {
        padding: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #e4e2ec;
        font-size: 14px;
        width: 100%;
      }

      textarea {
        margin-bottom: 30px;
      }
    }

    // four
    .four {
      display: flex;
      flex-direction: column;
      padding: 30px 30px;

      .person {
        display: flex;
        margin-bottom: 30px;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          margin-right: 15px;
        }

        &__data {
          strong {
            font-weight: 900;
            font-family: revert;
            margin-bottom: 20px;
          }

          p {
            display: block;
            color: $text-light;
            line-height: 1.4;
          }
        }
      }
    }
  }
}

@media (max-width: 808px) {
  .first,
  .second {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  }
  .second {
    border: none !important;
    padding: 0 !important;
  }
}
