<nav class="header">
  <a class="header__logo">
    <img src="./../../../assets/images/header/logo.svg" alt="logo" />
  </a>

  <div class="header__nav" (click)="test($event)">
    <ul class="mobile" [ngClass]="{ mobileMode: isClosed }">
      <!-- show icon in mobile mode  -->
      <div class="close-btn" (click)="onClose()">
        <img
          style="width: 30px"
          src="./../../../assets/images/icons/close.svg"
          alt="close-btn"
        />
      </div>
      <!-- show icon in mobile mode -->
      <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li>
        <a [routerLink]="['/shop']" routerLinkActive="router-link-active"
          >Shop</a
        >
      </li>
      <li>
        <a [routerLink]="['/blog']" routerLinkActive="router-link-active"
          >Blog</a
        >
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active"
          >About</a
        >
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
          >Contact</a
        >
      </li>

      <!-- hide icons in mobile mode  -->
      <li class="none">
        <a
          ><img src="./../../../assets/images/header/uk_gif.gif" alt="bag"
        /></a>
      </li>
      <li class="none">
        <a
          class="not"
          [routerLink]="['/cart']"
          routerLinkActive="router-link-active"
          ><img
            src="./../../../assets/images/icons/shopping-basket.svg"
            alt="bag"
          />
          <span class="quantity">{{ totalItem }}</span>
        </a>
      </li>
      <!-- hide icons in mobile mode -->
    </ul>
  </div>

  <!-- show icons in mobile mode -->
  <div class="open-con desktop-mode">
    <img
      style="width: 40px"
      src="./../../../assets/images/header/uk_gif.gif"
      alt="bag"
    />

    <div class="not">
      <img
        [routerLink]="['/cart']"
        style="width: 40px"
        src="./../../../assets/images/icons/shopping-basket.svg"
        alt="bag"
      />
      <span class="quantity">{{ totalItem }}</span>
    </div>

    <img
      (click)="onOpen()"
      style="width: 40px"
      src="./../../../assets/images/icons/hamburger-menu.svg"
      alt="close-btn"
    />
  </div>
  <!-- show icons in mobile mode -->
</nav>
