@import "./../../../styles.scss";

.container {
  background: #e0dcd5;

  .header {
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1680px;
    margin: auto;
    z-index: 5;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden;

    // one
    .one img {
      width: 100px;
    }

    // two
    .two ul,
    .three ul {
      display: flex;

      li {
        list-style-type: none;
        padding: 0px 20px;

        a {
          text-decoration: none;
          font-size: 20px;
          color: $on-base;
          text-transform: uppercase;
          font-weight: 900;
          transition: 0.3s;

          &:hover {
            color: $primary;
          }

          img {
            width: 27px;
            display: block;
          }
        }
      }
    }

    // three
    ul {
      .not {
        display: flex;
        align-items: start;
        position: absolute;
      }
      span {
        float: inline-start;
        position: relative;
        top: -22px;
        right: 5px;
      }

      .quantity {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 10px;
        background: rgb(241, 70, 70);
        color: #fff;
        text-align: center;
        font: 12px Arial, sans-serif;
      }
    }

    .close-btn,
    .open-btn {
      display: none;
    }

    .desktop-mode {
      display: none;
    }
  }

  .router-link-active::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: $primary;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: 1s;
  }

  .router-link-active {
    color: $primary !important;
    transition: 1s;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 50px 20px !important;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    background-color: #e0dcd5;
    width: 300px;
    height: 100vh;
    z-index: 5;
    position: fixed;
    top: 0;
    right: -300px;
    box-shadow: 20px 2px 34px rgb(0 0 0);
    padding: 100px 30px;
    transition: 0.5s;
  }

  .mobileMode {
    right: 0px;
  }
  .hide-icons {
    display: none;
  }

  ul li a {
    font-size: 30px !important;
    line-height: 2.2;
  }
  .close-btn {
    display: block !important;
  }
  .open-con {
    display: flex !important;
    align-items: center;
    cursor: pointer;
  }
  .close-btn img {
    position: absolute;
    top: 45px;
    left: 30px;
    cursor: pointer;
  }
  .not {
    display: flex;
    align-items: start;
  }
  .quantity {
    position: relative;
    top: -20px;
    right: 36px;
  }
}

@media (max-width: 420px) {
  .not {
    display: none !important;
  }
}
