@import "./../../../../styles.scss";

.banner {
  background-position: center;
  background-size: cover;
  padding: 80px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $on-primary;
  justify-content: center;
}
