@import "./../../../../styles.scss";

.newsletter {
  padding: 80px 0px;
  background-color: #000;

  .container {
    display: grid;
    width: 95%;
    max-width: 1680px;
    margin: auto;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));

    .one {
      h4,
      h6 {
        color: $on-primary;
      }

      h4 {
        margin-bottom: 10px;
      }

      span {
        color: $error;
      }
    }

    .two {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      input {
        width: 50%;
        border-right: none;
        border-color: transparent;
        padding-left: 9px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      button {
        display: block;
        padding: 10px 20px;
        background: $primary;
        border: none;
        outline: none;
        font-weight: 600;
        color: $on-primary;
        border-left: $on-primary 1px solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 808px) {
  .two {
    display: flex;
    justify-content: flex-start !important;
  }
  .container {
    grid-template-columns: unset !important;
    justify-content: center !important;
    gap: 25px !important;
  }
  input {
    width: 70% !important;
  }
}
