@import "./../../../../../styles.scss";

.hero {
  padding: 80px 0px;
  background-color: #000;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 95%;
    max-width: 1680px;
    background-image: url("https://wallpaperaccess.com/full/135802.jpg");
    background-position: center;
    background-size: cover;

    h1,
    h4,
    h6 {
      color: #fff;
    }

    h4 {
      margin-top: 10vw;
      margin-bottom: 30px;
    }

    h1 {
      margin-bottom: 60px;
    }

    h6 {
      margin-bottom: 100px;
    }

    .btn {
      margin-bottom: 15vw;
    }
  }
}
