$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #1a1a1a;

$primary: #088178;
$primary-dark: #06524d;
$primary-light: #e8f6ea;
$on-primary: #ffffff;

$secondary: #ffd54f;
$secondary-dark: #c8a415;
$secondary-light: #ffff81;
$on-secondary: #000000;

$error: #b00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #ffffff;

$text-light: #65617d;
