<app-banner-welcome
  [title]="'#meet_us'"
  [subtitle]="'Lorem ipsum dolor sit!'"
  [backgroundImage]="'./../../../../assets/images/banners/banner5.jpg'"
></app-banner-welcome>

<section class="about section-padding">
  <div class="about__img">
    <img src="../../../assets/images/about/about.gif" alt="team" />
  </div>
  <div class="about__article">
    <div class="article__title">
      <h3>Who We Are?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
        facilis voluptatem error consequatur neque beatae omnis modi, adipisci
        incidunt ipsa praesentium necessitatibus? Corporis illum at rerum
        obcaecati id laboriosam doloremque! Ut unde asperiores amet perferendis
        corporis soluta, cum voluptate reprehenderit possimus at in recusandae
        porro rerum sapiente cumque, accusantium aperiam repellendus! Quia vitae
        doloribus provident adipisci hic perspiciatis est iusto?
      </p>

      <marquee behavior="" direction="" bgcolor="#ccc"
        >LOOKS GOOD. RUNS GOOD. FEELS GOOD.</marquee
      >
    </div>
  </div>
</section>

<section class="app section-padding">
  <h3>Download Our <a href="#">App</a></h3>
  <div class="app__img">
    <img src="../../../assets/images/about/nike_gif.webp" alt="app" />
  </div>
</section>
