@import "./../../../styles.scss";

.blogs {
  padding: 80px 0px;
  background: #f7f6f5;
  display: flex;
  flex-direction: column;

  .container {
    display: grid;
    width: 95%;
    margin: auto;
    max-width: 1680px;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-bottom: 120px;

    .one {
      position: relative;
      transform-style: preserve-3d;

      img {
        width: 100%;
        height: auto;
        z-index: 12;
      }

      .datum {
        transform: translateZ(-2px);

        position: absolute;
        font-size: 80px;
        font-weight: 900;
        color: #c8bebe;
        z-index: 11;
        top: -58px;
      }
    }

    .two {
      max-height: 458px;
      display: flex;
      flex-direction: column;
      overflow: overlay;

      h4 {
        margin-bottom: 20px;
      }

      p {
        color: $text-light;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 808px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)) !important;
  }
}
