<!-- banner nike_news -->
<app-banner-welcome
  [title]="'#nike_news'"
  [subtitle]="'Your source for the latest NIKE, Inc. stories'"
  [backgroundImage]="'./../../../../assets/images/banners/banner66.jpg'"
></app-banner-welcome>

<!-- blogs -->
<section class="blogs">
  <div class="container" *ngFor="let blog of blogs">
    <!-- one -->
    <div class="one">
      <img src="{{ blog.img }}" alt="{{ blog.datum }}" />
      <div class="datum">{{ blog.datum }}</div>
    </div>
    <!-- two -->
    <div class="two">
      <h4>{{ blog.title }}</h4>
      <p>{{ blog.content }}</p>
    </div>
  </div>
</section>
