@import "./../../../styles.scss";

#customers {
  margin: 50px 0;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}
#customers td:nth-child(1) {
  border-left: 1px solid #ddd;
}
#customers td:nth-last-child(1) {
  border-right: 1px solid #ddd;
}

#customers tr {
  background-color: #f6f6f6;
  text-align: center;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

#customers tr:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary;
  color: white;
}

.section-padding {
  padding: 40px 20px;
}

.cart {
  tbody tr td:nth-last-child(1) {
    text-align: center;
  }
}

.btn-trash {
  width: 34px;
  background-color: #f14646;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    transition: 0.3s;
    transform: rotate(10deg);
  }
}

.empty-cart {
  padding: 40px 20px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h5 {
    margin-bottom: 20px;
  }
}

.mobile-mode {
  display: none !important;
}

.total {
  font-weight: 900;
  text-align: end;
  font-size: 20px;
  display: block;

  strong {
    font-size: 26px;
    font-family: cursive;
    font-weight: 900;
  }
}

.mobile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .mobile-box {
    display: flex;
    height: fit-content;
    align-items: center;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);

    .no {
      position: relative;
      top: -90px;
      left: 20px;
    }

    &__img {
      width: 50%;

      img {
        width: 100%;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      padding: 10px;

      strong {
        font-weight: 900;
        width: 83px;
        display: inline-block;
      }

      span {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-device-width: 360px) {
  .section-padding {
    overflow-x: scroll;
  }

  .total {
    margin-right: 20px !important;
  }

  .desktop-mode {
    display: none !important;
  }
  .mobile-mode {
    display: block !important;
  }

  img {
    float: right;
  }
}
