<div class="feature">
  <div class="container">
    <div class="box">
      <img
        src="../../../../assets/images/features/shipping.svg"
        alt="shipping"
      />
      <h6>Free Shipping</h6>
    </div>
    <div class="box">
      <img src="../../../../assets/images/features/happy.svg" alt="happy" />
      <h6>Happy Sale</h6>
    </div>
    <div class="box">
      <img src="../../../../assets/images/features/order.svg" alt="order" />
      <h6>Online Order</h6>
    </div>
    <div class="box">
      <img
        src="../../../../assets/images/features/promotions.svg"
        alt="promo"
      />
      <h6>Promotions</h6>
    </div>
    <div class="box">
      <img src="../../../../assets/images/features/money.svg" alt="money" />
      <h6>Save Money</h6>
    </div>
    <div class="box">
      <img src="../../../../assets/images/features/support.svg" alt="support" />
      <h6>24/7 Support</h6>
    </div>
  </div>
</div>
