/* You can add global styles to this file, and also import other style files */
@import "styles/main";

@font-face {
  font-family: Spartan;
  src: url(assets/fonts/Spartan-VariableFont_wght.ttf) format("truetype");
}

.section-padding {
  width: 80vw !important;
  max-width: 1800px;
  margin: auto;
}

@media only screen and (max-device-width: 412px) {
  .section-padding {
    padding: 40px 0px !important;
  }
}
