@import "./../../../../../styles.scss";

.app-button-primary {
  background: $primary;
  border: 1px solid $primary;
  color: $on-primary;
  padding: 14px 80px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $primary;
  }
}

@media (max-width: 412px) {
  .app-button-primary {
    padding: 10px 40px;
  }
}
